In [1]:
import pandas as pd

df = pd.read_csv("WSL_actions.csv", index_col = 0)
df = df.query("game_id == 3775648")
df

,game_id,original_event_id,action_id,period_id,time_seconds,team_id,player_id,x,y,dx,dy,type_id,bodypart_id
0,3775648,4c33f2eb-7392-419d-b6ac-bedaa573ddc6,0,1,0.3400,968,15623.0,52.0625,33.660,-0.8750,1.870,0,5
1,3775648,4c33f2eb-7392-419d-b6ac-bedaa573ddc6,1,1,0.4960,968,15619.0,51.1875,35.530,0.0000,0.000,23,0
2,3775648,85565c30-e341-4f38-8b52-b949131d4417,2,1,0.6520,968,15619.0,51.1875,35.530,2.3625,-1.275,21,0
3,3775648,4467e274-205f-41be-ab7e-62ece2697dbc,3,1,0.6920,968,15619.0,53.5500,34.255,15.1375,-0.765,0,5
4,3775648,4467e274-205f-41be-ab7e-62ece2697dbc,4,1,1.2545,968,10405.0,68.6875,33.490,0.0000,0.000,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3311,3775648,c924e11a-7219-4d81-99bb-4c3f8cd6298d,3311,2,2890.4250,2647,46541.0,28.0875,2.040,4.1125,0.255,21,0
3312,3775648,1cf6322a-d4b3-4ead-9419-59ee6f454f9a,3312,2,2892.4830,2647,46541.0,32.2000,2.295,2.1000,5.695,0,5
3313,3775648,1cf6322a-d4b3-4ead-9419-59ee6f454f9a,3313,2,2892.7185,2647,46539.0,34.3000,7.990,0.0000,0.000,23,0
3314,3775648,95036df9-0918-41a4-bda7-8cc825c122fb,3314,2,2892.9540,2647,46539.0,34.3000,7.990,0.0000,0.000,21,0
3315,3775648,b99ea3d1-10bb-47c2-ad8f-f6ffed8f7525,3315,2,2893.2600,2647,46539.0,34.3000,7.990,0.0000,0.000,19,0

In [2]:
import json
with open('action_types.json', 'r') as f:
    action_types = json.load(f)
action_types

{'0': 'pass',
 '1': 'cross',
 '2': 'throw_in',
 '3': 'freekick_crossed',
 '4': 'freekick_short',
 '5': 'corner_crossed',
 '6': 'corner_short',
 '7': 'take_on',
 '8': 'foul',
 '9': 'tackle',
 '10': 'interception',
 '11': 'shot',
 '12': 'shot_penalty',
 '13': 'shot_freekick',
 '14': 'keeper_save',
 '15': 'keeper_claim',
 '16': 'keeper_punch',
 '17': 'keeper_pick_up',
 '18': 'clearance',
 '19': 'bad_touch',
 '20': 'non_action',
 '21': 'dribble',
 '22': 'goalkick',
 '23': 'receival',
 '24': 'interception',
 '25': 'out',
 '26': 'offside',
 '27': 'goal',
 '28': 'owngoal',
 '29': 'yellow_card',
 '30': 'red_card',
 '31': 'corner',
 '32': 'freekick'}

In [3]:
from preprocess_data import *

tokens = (
    df
    .pipe(add_coordinate_bins)
    .pipe(add_team_as_dummy)
    .pipe(get_action_type_names, action_types)
    .pipe(get_action_tokens)
    ['action_token'].values
)

tokens

array(['True,pass,4,4', 'True,receival,4,5', 'True,dribble,4,5', ...,
       'False,receival,3,1', 'False,dribble,3,1', 'False,bad_touch,3,1'],
      dtype=object)

In [4]:
X, y = sequence_to_sliding_window(tokens)
X.shape, y.shape

((3313, 3), (3313,))